<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/fredrikjohnsen/d5fa0fe7-c441-48e1-8522-abd6a8b72bb3/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>